/AreasPerimetros/JavaLibrary2/nbproject/private/
/AreasPerimetros/AreaPerimetro/nbproject/private/
/AreasPerimetros/JavaApplication25/nbproject/private/
/AreasPerimetros/FigurasGeometricas/nbproject/private/
/AreasPerimetros/FigurasGeometricas/build/